body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}


/* Cabeçalho */
header {
    background-color: white;
    color: #4a4a8e; 
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
}


.logo h1 {
    margin: 0;
    font-size: 2rem;
}

.logo-img {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

h1.feature-h1, h2 {
    margin: 30px 0; 
    padding: 0;
    font-size: 1.8rem;
    color: #4a4a8e;
}

.feature-h1 {
    margin-left: 40px;
}

#impacto .feature-h1 {
    margin-left: 40px;
}

#beneficios .feature-h1 {
    margin-left: 40px;
}

.feature-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 40px;
}

.feature-item {
    background: linear-gradient(80deg, #ffffff, #e0c4fd);
    border: 1px solid #ccc; /* Borda sutil */
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
}

.feature-item h3 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #4a4a8e;
    margin-bottom: 10px;
}


.feature-p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

p, .feature-p {
    text-align: justify;
}

.card {
    background: linear-gradient(80deg, #ffffff, #e0c4fd);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 30px 40px;
}


.card-content .text {
    padding: 10px;
}

.btn {
    background-color: #6a11cb;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 5px;
}


.btn:hover {
    background-color: #4a4a8e;
}


.container {
    padding: 20px;
    text-align: center;
    margin: 30px 40px; 
}

#team-section {
    margin: 40px 40px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#team-section h2 {
    font-size: 1.5rem;
    color: #4a4a8e;
}

h1.feature-h1, h2 {
    margin: 30px 40px 30px 40px;
    padding: 0;
    font-size: 1.8rem;
    color: #4a4a8e;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
